@model MartCo.Web.ViewModels.EditProductViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product</h2>

<form method="post" id="editProduct">
    <input name="ID" type="hidden" value="@Model.ID" />
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="Name" value="@Model.Name" />

        <br />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input class="form-control" name="Description" value="@Model.Description" />

        <br />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input class="form-control" name="Price" value="@Model.Price" />

        <br />
    </div>
        <button id="updateBtn" type="button" class="btn btn-primary">Update</button>
        <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>
</form>

<script>
    $("#updateBtn").click(function () {


        $.ajax({
            type: 'Post',
            url: '/Product/Edit',
            data: $("#editProduct").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    $("#cancelBtn").click(function () {

        $("#actionContainer").html("");
        focusAction("tableContainer");

            
    });
</script>