
@{
    ViewBag.Title = "Index";
}

<div class="title-section">
    <h2 class="title">
        Products
    </h2>
</div>

<div class="container">
    <div id="tableContainer">
        @{

            Html.RenderAction("ProductTable");
            //  Html.RenderAction("Create");

        }
    </div>
    <hr />

    <div id="actionContainer">

    </div>
</div>


